In [1]:
import pandas as pd

In [2]:
# Read data from resources folder
shot_logs_df = pd.read_csv("../resources/shot_logs.csv")
shot_logs_df.head()

,GAME_ID,MATCHUP,LOCATION,W,FINAL_MARGIN,SHOT_NUMBER,PERIOD,GAME_CLOCK,SHOT_CLOCK,DRIBBLES,...,SHOT_DIST,PTS_TYPE,SHOT_RESULT,CLOSEST_DEFENDER,CLOSEST_DEFENDER_PLAYER_ID,CLOSE_DEF_DIST,FGM,PTS,player_name,player_id
0,21400899,"MAR 04, 2015 - CHA @ BKN",A,W,24,1,1,1:09,10.8,2,...,7.7,2,made,"Anderson, Alan",101187,1.3,1,2,brian roberts,203148
1,21400899,"MAR 04, 2015 - CHA @ BKN",A,W,24,2,1,0:14,3.4,0,...,28.2,3,missed,"Bogdanovic, Bojan",202711,6.1,0,0,brian roberts,203148
2,21400899,"MAR 04, 2015 - CHA @ BKN",A,W,24,3,1,0:00,NaN,3,...,10.1,2,missed,"Bogdanovic, Bojan",202711,0.9,0,0,brian roberts,203148
3,21400899,"MAR 04, 2015 - CHA @ BKN",A,W,24,4,2,11:47,10.3,2,...,17.2,2,missed,"Brown, Markel",203900,3.4,0,0,brian roberts,203148
4,21400899,"MAR 04, 2015 - CHA @ BKN",A,W,24,5,2,10:34,10.9,2,...,3.7,2,missed,"Young, Thaddeus",201152,1.1,0,0,brian roberts,203148

In [3]:
# Convert all column names to lowercase
shot_logs_df.columns = shot_logs_df.columns.str.lower()

In [4]:
# Select only relevant columns
shot_logs_df = shot_logs_df[["fgm", "period", "game_clock", "shot_clock", "dribbles", "touch_time", "shot_dist", "pts_type", "close_def_dist"]]

In [5]:
# Rename necessary columns
shot_logs_df = shot_logs_df.rename(columns={"fgm":"outcome"})

In [6]:
# Remove duplicates and rows with null values
shot_logs_df = shot_logs_df.drop_duplicates()
shot_logs_df = shot_logs_df.dropna()
shot_logs_df.head()

,outcome,period,game_clock,shot_clock,dribbles,touch_time,shot_dist,pts_type,close_def_dist
0,1,1,1:09,10.8,2,1.9,7.7,2,1.3
1,0,1,0:14,3.4,0,0.8,28.2,3,6.1
3,0,2,11:47,10.3,2,1.9,17.2,2,3.4
4,0,2,10:34,10.9,2,2.7,3.7,2,1.1
5,0,2,8:15,9.1,2,4.4,18.4,2,2.6

In [7]:
# Export clean DataFrame to CSV file
shot_logs_df.to_csv("../resources/shot_logs_clean.csv", index=False)